{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    <div class="container-fluid py-md-3">
        <h2 class="text-center" style="color:white">Изменить профиль</h2>
        <div class="row">
            <div class="container">
                <div class="profile-card">
                    <div class="form-group">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <b style="color:white">{{ form.username.label_tag }} {{ form.username }}<br><br>
                                {{ form.email.label_tag }} {{ form.email }}<br><br>
                                {{ form.birthday.label_tag }} {{ form.birthday }}<br><br>
                                {{ form.free_mailing_list.label_tag }} {{ form.free_mailing_list }}<br><br>
                                {{ form.bio.label_tag }} {{ form.bio }}<br><br>
                                {{ form.profile_pic.label_tag }} {{ form.profile_pic }}<br><br></b>

                            <div style="
                                text-align: center;">
                                <button type="submit"
                                        class="pressed-button text-decoration: none;cursor: pointer;color:white;">
                                    Сохранить
                                </button>
                                <button type="submit"
                                        class="pressed-button text-decoration: none;cursor: pointer;color:white;">
                                    Назад
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
