{% extends 'base.html'%}
{% load static %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent"
         style="padding-left: 3rem; padding-right: 3rem;">
    {% block container %}
    <div class="container-fluid py-md-3">
        {% endblock container %}
        <div class="row">
            <div class="container">
                <div class="profile-card">
                    <h2 class="text-center">Профиль пользователя</h2>
                    {% if user.profile.profile_pic %}
                    <img src="{{ profile.profile_pic.url }}" height=150 width=150><br><br>
                    {% else %}
                    <img src="{% static 'base\images\profile\user.png' %}" height=100 width=100><br><br>
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Имя:</label>
                        <input type="text" id="name" class="form-control" value="{{ user.username }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bio">О себе:</label>
                        <input type="text" id="bio" class="form-control" value="{{ profile.bio }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control" value="{{ user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Дата рождения:</label>
                        <input type="date" id="birthday" class="form-control" value="{{ profile.user.birthday }}"
                               readonly>
                    </div>

                        <label for="last-login">Последний вход:</label>
                        <div class="last-login">
                            <p>{{ user.last_login }}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/user/edit_profile/" class="btn btn-primary">Редактировать профиль</a>
                    </div>
                    <div class="text-center mt-4">
                        <a href="/" class="btn btn-primary">Вернуться на главную страницу</a>
                    </div>
                </div>
            </div>


            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        </div>
    </div>
</section>
{% endblock %}
