<footer class="editContent" style="background-color: #1E0000">
    <div class="container">
        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
            <div class="col-md-4 footer-grid_section_w3layouts" >
                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" style="color:white;">
                    Разделы</h3>
                <ul class="list-unstyled w3layouts-icons" style="color:white;">
                    <li>
                        <a href="index.html" class="editContent" style="color:white;">Главная</a>
                    </li>
                    <li>
                        <a href="about.html" class="editContent" style="color:white;">Категории</a>
                    </li>
                    <li>
                        <a href="contact.html" class="editContent" style="color:white;">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid_section_w3layouts">
                <!-- social icons -->
                <div class="agileinfo_social_icons">
                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" style="color:white;">
                        Pages</h3>
                    <ul class="list-unstyled w3layouts-icons">

                        <li>
                            <a href="#" class="editContent" style="color:white;">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" style="color:white;">
                    Contact Info</h3>
                <div class="contact-info">
                    <div class="footer-address-inf my-4">
                        <h4 class="ad-info mb-2 editContent" style="color:white;">Email </h4>
                        <p class="editContent"><a href="mailto:info@example.com" style="color:white;">info@example.com</a>
                        </p>
                    </div>
                    <div class="footer-address-inf">
                        <h4 class="ad-info mb-2 editContent" style="color:white;">Location</h4>
                        <p class="editContent" style="color:white;">New York City</p>
                    </div>
                </div>
            </div>
        </div>
        <!--            </div>-->
    </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3" style="background-color:#4B1212;">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left" style="color:white;">© KinoMan. All rights reserved
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span
                    class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
            <!-- //move top icon -->
            <!--        </div>-->
        </div>
    </div>
</div>
