<header class="header">
    <div class="container-fluid px-lg-5">

        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'movie_list' %}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;, sans-serif;">KinoMan</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'movie_list' %}">Главная</a></li>
                <li>

                     <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории </label>
                    <a href="#">Категории <span></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul style="background-color: #f2f2f2;">
                        {% for category in categories %}
                        <li ><a href="/" style="color: black;">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                <li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="last"><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}


                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">

<!--    <div class="ban-buttons">-->


    </div>
<!--</div>-->
<!--// banner-inner -->
