<header class="header">
    <div class="container-fluid px-lg-5">

        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'movie_list' %}" class="pressed-button"
                      style="text-decoration: none;">KinoMan</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li><a href="{% url 'movie_list' %}"  style="text-decoration: none;">Главная</a></li>
                <li>

                     <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории </label>
                    <a href="#"  style="text-decoration: none;">Категории <span></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul style="background-color: #f2f2f2;">
                        {% for category in categories %}
                        <li ><a href="/" style="color: black;">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if request.user.is_authenticated %}

                <li class="last"><a href="{% url 'user_profile' user.id %}"> {{user.username}} </a> | <a href="{% url 'django_logout' %}" style="text-decoration: none;">Выйти</a></li>

                {% else %}
                <li class="last"><a href="{% url 'django_login' %}">Войти</a></li>
                {% endif %}


                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info" style="background-co;">

<!--    <div class="ban-buttons">-->


    </div>
<!--</div>-->
<!--// banner-inner -->
