{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <body>
            {% if user.is_superuser %}
            <div style="text-align:center">
                <a href="{% url 'get_user' %}">
                    <button class="pressed-button" style="cursor: pointer;">Изменить пользователя</button>
                </a>
            </div>
            <br><br><br>
            {% endif %}
            <div style="text-align:center">
                <a href="{% url 'add_genre' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Добавить жанр</button>
                </a>

                <a href="{% url 'genre_list' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Изменить жанр</button>
                </a>

                <a href="{% url 'add_category' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Добавить категорию</button>
                </a>

                <a href="{% url 'category_list' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Изменить категорию</button>
                </a>
            </div>
            <br><br><br>
            <div style="text-align:center" >
                <a href="{% url 'add_actor' %}" style="cursor: pointer; text-decoration: none;">
                    <button class="pressed-button">Добавить актера</button>
                </a>

                <a href="{% url 'actor_list' %}" style="cursor: pointer; text-decoration: none;">
                    <button class="pressed-button">Изменить актера</button>
                </a>

                <a href="{% url 'add_director' %}" style="cursor: pointer; text-decoration: none;">
                    <button class="pressed-button">Добавить режиссера</button>
                </a>

                <a href="{% url 'director_list' %}" style="cursor: pointer; text-decoration: none;">
                    <button class="pressed-button">Изменить режиссера</button>
                </a>
            </div>
            <br><br><br>
            <div style="text-align:center">
                <a href="{% url 'add_movie' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Добавить фильм</button>
                </a>

                <a href="{% url 'movie_list_admin' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Изменить фильм</button>
                </a>

                <a href="{% url 'add_image' %}" style="text-decoration: none;">
                    <button class="pressed-button" style="cursor: pointer;">Добавить изображение к фильму</button>
                </a>
            </div>
            <br><br><br>
            </body>
        </div>
    </div>
</div>
{% endblock %}
