{% extends 'base.html' %}
{% block title %}Редактирование фильма{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 style="color:white;">Редактирование фильма:</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <b style="color:white"> {{ form.as_p }}</b>
                <div style="text-align: center;">
                    <button type="submit" class="pressed-button" style="cursor: pointer;">Сохранить</button>
                    <button type="button" class="pressed-button" onclick="window.location.href='{% url 'movie_list_admin' %}'" style="cursor: pointer;">Отмена</button>
                    <br><br><br><br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
