{% extends 'base.html' %}
{% block title %} О нас {% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
         <div class="col-md-8" style="text-align:center; color:white; max-width: 1000px; margin: 0 auto;">
            <h3 style="font-size: 1em; line-height: 1.5em;">
                Добро пожаловать на KinoMan - твой источник незабываемых кинематографических впечатлений! KinoMan - это
                место, где страсть к кино оживает, а каждый фильм становится настоящей жизнью.

                На KinoMan мы предлагаем тебе погрузиться в увлекательный мир кино через трейлеры, рейтинги, отзывы, а
                также узнать интересные факты о фильмах, их режиссерах и актерах. Ты сможешь узнать все, что тебе
                интересно о фильмах - от захватывающих сюжетов до великолепной игры актёров.

                Благодаря нашему удобному интерфейсу и простой навигации по сайту, ты сможешь легко найти информацию о
                фильме, который тебя интересует. У нас есть разделы, посвященные режиссерам и актерам, где ты сможешь
                узнать больше о их работе и вкладе в мир кино.

                Также у нас есть возможность оценить фильм и оставить свой отзыв, чтобы поделиться своими впечатлениями
                с другими киноманами. Ты можешь просмотреть рейтинги фильмов, узнать мнения других пользователей и найти
                новые и захватывающие кинематографические шедевры.

                KinoMan - это место, где ты сможешь получить полное представление о фильме, его создателях и актерском
                составе. Мы предлагаем тебе окунуться в мир киноискусства, открыть для себя новые и удивительные истории
                и насладиться красотой кинематографа.

                Присоединяйся к нашему сообществу KinoMan, где кино становится не только развлечением, но и источником
                вдохновения и эмоций. Расширь свои горизонты, открой для себя новые фильмы и узнай больше о людях,
                которые создают их.

                KinoMan - это твой персональный путеводитель в мире кино, который поможет тебе открыть новые грани
                кинематографа. Добро пожаловать в мир KinoMan, где каждый фильм - это новое путешествие, каждая
                информация - это уникальное открытие!
            </h3>
             <br><br><br>
        </div>
    </div>
</div>
{% endblock %}
